/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

 .row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 0px;
    left: 50%;
}
.extra-container {
    width: 90vw;
    position: relative;
    margin-left: -45vw;
    margin-top: 0px;
    left: 50%;
}

.product-name {
    height: 4em;
    overflow: hidden;
}
.light-box-bg {
    border-color: #ffffff;
}

/*-- SEARCH --*/

#search_filters .facet+.facet {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #c7c7c7;
}

#search_filters .facet .facet-title {
    width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3490d1;
   padding-bottom: 15px;
}

.custom-checkbox input[type=checkbox], .custom-checkbox input[type=radio], .custom-radio input[type=checkbox], .custom-radio input[type=radio] {
    opacity: 100%;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: table-cell;
}

#search_filters .facet .facet-title {
    margin-bottom: 0;
    font-size: 1.1rem;


}/*-- END SEARCH --*/